{% extends "main_generic.html" %}

{% block content %}

    <div class = "main-game-blocks rounded">
    
        <ul id = "main-slides">
            
            {% if games %}            
                {% for game in games %}
                
                    <li class = "main-slide">
                        <img src = "{{ game.image.url }}" width = "480px" height = "300px" alt = "game.title">                        
                        <h1> {{ game.title }} </h1>
                        <small> {{game.genre }} / {{ game.author }} </small>
                        <p> {{ game.summary }} </p>
                    </li>
            
                {% endfor %}

            {% else %}
                <li> Странно, куда-то пропали все игры </li>
            {% endif %}
        </ul>
    </div>

    <script>
    
        var slides = document.querySelectorAll('#main-slides .main-slide');
        var currentSlide = 0;
        var slideInterval = setInterval(nextSlide,2000);
        
        function nextSlide() {
            slides[currentSlide].className = 'main-slide';
            currentSlide = (currentSlide + 1) % slides.length;
            slides[currentSlide].className = 'main-slide showing';
        }
        
    </script>
    
    
{% endblock %}