{% extends "main_generic.html" %}

{% block content %}

    <div class = "main-game-blocks rounded">
    
        <ul id = "main-slides">
            
            {% if games %}            
                {% for game in games %}
                
                    <li class = "main-slide">
                        {% if game.image %}
                            <img src = "{{ game.image.url }}" width = "100%" height = "300px" alt = "game.title">                        
                        {% endif %}
                        <h1> <a href = "{% url 'game-detail' game.id %}"> {{ game.title | truncatechars:23}} </a> </h1>
                        {% for genre in game.genre.all %} 
                
                        <span class = "catalog_game_desc_genre rounded"> {{ genre }} </span> 
                        
                        {% if not forloop.last %}, {% endif %}
                        
                        {% endfor %} 
                        <hr>                        
                        <p class = "main-slide-desc"> {{ game.summary | truncatechars:120 }} </p>
                    </li>
            
                {% endfor %}

            {% else %}
                <li> Странно, куда-то пропали все игры </li>
            {% endif %}
        </ul>
    </div>

    <script>
    
        var slides = document.querySelectorAll('#main-slides .main-slide');
        var currentSlide = 0;
        var slideInterval = setInterval(nextSlide,5000);
        
        slides[currentSlide].className = 'main-slide';
        currentSlide = (currentSlide + 1) % slides.length;
        slides[currentSlide].className = 'main-slide showing';
        
        function nextSlide() {
            slides[currentSlide].className = 'main-slide';
            currentSlide = (currentSlide + 1) % slides.length;
            slides[currentSlide].className = 'main-slide showing';
        }
        
    </script>
    
    
{% endblock %}