body {
    background: url("../gfx/bg.png");  
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat; 
    background-size: cover;
}

/* MAIN TEMPL */

.main-body {
    background: url("../gfx/main_bg.png");  
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat; 
    background-size: cover;
}
.main-title {
    padding-left: 13px;
    overflow: hidden;
    color: #fdcf65;
    text-shadow: -5px -5px 0 black;
    right: 50px;
}
.main-title h1 {
    font-size: 128px;    
}
.main-title h3 {
    font-size: 48px;
}
.main-game-blocks {
    width: 500px;
    height: 500px;
    background-color: #a8324a;
    position: absolute;
    right: 5%;
    top: 25%;
}
.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}
#main-slides {
    position: relative;
    height: 300px;
    padding: 0px;
    margin: 0px;
    margin-left: 10px;
    margin-top: 10px;
    list-style-type: none;
}
#main-slides li{ 
    padding: 0px;
    margin: 0px;
}
.main-slide {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    z-index: 1;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}
.main-slide {
    padding: 40px;
    box-sizing: border-box;
    color: #cbd094;
}
.main-slide h1 {
    font-family: Impact, Charcoal, sans-serif;
    margin-bottom: 0px;
    
}
.showing {
    opacity: 1;
    z-index: 2;
}


/* BASE TEMPL */

.base-title {
    overflow: hidden;
    color: #fdcf65;
    text-shadow: -5px -5px 0 black;
    padding-top: 13px;
    padding-left: 13px;
}

/* GENERAL */

.auth_block {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 128px;
    background-color: #a8324a;
    height: 32px;
}
.auth_block a {
    color: #cbd094;
    font-family: Impact, Charcoal, sans-serif;
}
.auth_block ul {    
    padding: 0px;
}
.auth_block li:first-child {
    padding-left: 13px;
    text-decoration: underline;
    color: #cbd094;
}
.auth_block li {
    padding: 0px;
    padding-right: 13px;
}
.menu {
    position: fixed;
    left: 0; 
    bottom: 0;
    background-color: #a8324a;
    width: 50%;
    height: 32px;
}
.menu ul, li {
    display: inline-block;
}
.menu li {
    padding-left: 32px;
    text-decoration: none;
}
.menu a {
    font-size: 20px;
    color: #cbd094;
    font-family: Impact, Charcoal, sans-serif;
}


/* CATALOG GAMES */

.catalog_h1 {
    overflow: hidden;
    text-align: center;
    color: #fdcf65;
    text-shadow: -3px -3px 0 black;
}
.catalog_h1:before, .catalog_h1:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 20%;
  height: 3px;
  background: #fdcf65; 
  /* border: solid rgba(150, 150, 150, 1); */
  margin: 10px;
  border-width: 0 10px;
  box-shadow: -3px -3px 0 black;
}
.catalog_h1:before {
  margin-left: -100%;
}
.catalog_h1:after {
  margin-right: -100%;
}
.catalog_games {
    background-color: #fdcf65;    
}
.catalog-block ul{
    text-align: center;
}
.catalog-block ul:after {
    /* HERE IS MAGIC */
    content: ' i i i i i i i i ';
    word-spacing: 246px;
    padding-left: 246px;
    visibility: hidden;
}
.catalog-block ul li{
    display : inline-block;
    vertical-align: top;
    text-align: center;
    margin-top: 6px;
}