{% extends "admin_generic.html" %}

{% block content %}
        <!--
        <div class = "adminp-block-title"> Новости </div>        
                
        <ul>
            <li> 
            
                <h5> 24 апреля 2019 </h5> <small> Автор: Администрация сходок </small> <hr>
                
                <p> Просим обратить внимание, что сходка 29-го не состоится. Сообщите в своих магазинах. </p>
            
            </li> <br> <br>
            
            <li> 
            
                <h5> 24 апреля 2019 </h5> <small> Автор: Администрация сходок </small> <hr>
                
                <p> Просим обратить внимание, что сходка 29-го не состоится. Сообщите в своих магазинах. </p>
            
            </li> <br>
            
            <li> 
            
                <h5> 24 апреля 2019 </h5> <small> Автор: Администрация сходок </small> <hr>
                
                <p> Просим обратить внимание, что сходка 29-го не состоится. Сообщите в своих магазинах. </p>
            
            </li> <br>
            
            <li> 
            
                <h5> 24 апреля 2019 </h5> <small> Автор: Администрация сходок </small> <hr>
                
                <p> Просим обратить внимание, что сходка 29-го не состоится. Сообщите в своих магазинах. </p>
            
            </li> <br>
            
            <li> 
            
                <h5> 24 апреля 2019 </h5> <small> Автор: Администрация сходок </small> <hr>
                
                <p> Просим обратить внимание, что сходка 29-го не состоится. Сообщите в своих магазинах. </p>
            
            </li> <br>
            
        </ul>
        -->
{% endblock %}