{% extends "admin_generic.html" %}

{% block content %}
    
    <div class = "adminp-content">          

        <h3> Таблица пользователей </h3> <hr>
        <i> Внимание! Под пользователями понимаются клиенты </i>
        
        <div class = "adminp-content-table">
            <table  border = "1px solid black">
                
                    <th> ФИО </th>
                    <th> Сделать сотрудником </th>                 
                    <th> Удалить </th>                 
                        
                        {% for user in users %}
                        
                            <tr>
                                <td>
                                    {{ user.last_name }} {{ user.first_name }}
                                </td>
                                <td>
                                    {% if request.user.customer.super_staffedit %}
                                        <a href = "{% url 'user_to_staff' user.id %}"> [сделать сотрудником] </a>
                                    {% else %}
                                        нет прав
                                    {% endif %}
                                </td>  
                                <td>
                                    {% if request.user.customer.super_staffedit %}
                                        <a href = "{% url 'user_delete' user.id %}"> [удалить] </a>
                                    {% else %}
                                        нет прав
                                    {% endif %}
                                </td> 
                            </tr>
                            
                        {% endfor %}
                        
                    </table>
                
                </div>
    
    </div>

{% endblock %}