{% extends "base_generic.html" %}

{% block content %}

    <h1 class = "catalog_h1"> наши игры </h1>

    {% if game_list %}
    <div>
    
    <ul>
    
      {% for game in game_list %}
      
      <li class = "catalog_games">
      
        <p> 
        <img src="{{ game.image.url }}" width = "250px" height = "150px" alt=""> </p>
        
        <p> <a href="{{ game.get_absolute_url }}">{{ game.title }}</a> <p>
        
        <p> ({{game.author}}) </p>
        
        <p> {% for genre in game.genre.all %} 
        
                {{ genre }}
                
                {% if not forloop.last %}, {% endif %}
                
            {% endfor %} 
           
        </p>
        
        <p> <a href = " {% url 'cart_add_item' game.id%}?repath={{request.path}} "> в корзину </a> </p>
                
      </li>
      
      {% endfor %}

    </ul>
    
    </div>
    
    {% else %}
    
      <p> Странно, но игр нет :( </p>
      
    {% endif %}     
    
{% endblock %}