{% extends "base_generic.html" %}

{% block content %}

    <div class = "catalog-body">

        <!-- <h1 class = "catalog_h1"> наши игры </h1> -->
        
        <div class ="catalog-search">
            <form action = "" method = "GET">
                {% csrf_token %}
                {{ form }}            
                <input type="submit" value="Найти" />
            </form>
        </div>
        
        <div class = "catalog-filters">
        
            <p> Жанры </p>        
                
                <form action = "" method = "GET">
                    {% csrf_token %}
                    {{ genres_form }}            
                    <br>
                    <input type="submit" value="Найти" />
                </form>
            
            </div>
        
        </div>

        {% if game_list %}
        <div class = "catalog-block">
        
            <ul>
            
              {% for game in game_list %}
              
              <li class = "catalog_games rounded">                                             
                
                <p> <a href="{{ game.get_absolute_url }}">{{ game.title }}</a> <p>
                
                <img src="{{ game.image.url }}" width = "250px" height = "150px" alt=""> </p>
                
                <p> ({{game.author}}) </p>
                
                <p> {% for genre in game.genre.all %} 
                
                        {{ genre }}
                        
                        {% if not forloop.last %}, {% endif %}
                        
                    {% endfor %} 
                   
                </p>
                
                <p> <a href = " {% url 'cart_add_item' game.id%}?repath={{request.path}} "> в корзину </a> </p>
                        
              </li>
              
              {% endfor %}

            </ul>
        
        </div>
    
    </div>
    
    {% else %}
    
      <p> Странно, но игр нет :( </p>
      
    {% endif %}     
    
{% endblock %}