{% extends "admin_generic.html" %}

{% block content %}

<div class = "adminp-content">

<form enctype="multipart/form-data" action="" method="post">
    
    <h3> Редактирование: {{ game.title }} </h3> <hr>

    {% csrf_token %}
    <table class = "table table-striped table-bordered">
        <tr>
            <td> 
                <strong> Название: </strong> 
            </td>
            <td>
                {{ form.title }}
            </td>
        </tr>
        <tr>
            <td>
                <strong> Обложка: </strong> 
            </td>
            <td>
                {{ form.image }}
            </td>
        </tr>
        <tr>
            <td>
                <strong> Галлерея </strong>
            </td>
            <td>
                <i> 
                    В случае, если у игры есть ещё изображения, то перейдите в 
                    <a href = "{% url 'game_gallery_create' %}?id={{game.id}}"> галерею для игры </a> и загрузите изображения
                </i> <br>
                <i> 
                    (!) Если вы создаете товар, то добавьте изображения после его сохранения
                </i> 
            </td>
        </tr>
        <tr>
            <td>
                <strong> Разработчик: </strong> 
            </td>
            <td>
                {{ form.author }} <br>
                <a href = "{% url 'author_create' %}" > Создать нового </a>
            </td>
        </tr>
        <tr>
            <td>
                <strong> Описание: </strong> 
            </td>
            <td>
                {{ form.summary }}
            </td>
        </tr>
        <tr>
            <td>
                <strong> Жанр: </strong> 
            </td>
            <td>
                {{ form.genre }}
                <i> {{ form.genre.help_text }} </i> <br>
                <a href = "{% url 'genre_create' %}" > Создать новый </a>
            </td>
        </tr>
        <tr>
            <td>
                <strong> Цена: </strong> 
            </td>
            <td>
                {{ form.cost }}
            </td>
        </tr>
    </table>
    <input type="submit" value="Сохранить" />
</form>
</div>
{% endblock %}